/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.details {
    display: flex;
    flex-direction: row;
}

.details-hero {
    width: 35%;
}

#hero {
    width: 215px;
    height: 360px;
    border-radius: 15px;
}

.details-info {
    width: 40%;
}

#icon {
    height: 20px;
    width: 20px;
}

.border-top {
        border-top: 1px solid #e5e5e5;
    }
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

#author {
    font-weight: 500;
}

h6 {
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.section {
    margin: 40px auto auto auto;
}

.part {
    margin: 10px 0px 30px 0px;
}

.centre {
   text-align: center;
}

.btn-genre {
    height: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 15%;
}

.genre {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.mp {
    margin-top: 30px;
    margin-left: -30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.book-details {
    display: flex;
    flex-direction: column;
}

.inside-mp {
    display: grid;
    grid-template-columns: repeat(8, [col-start] 1fr);
    gap: 20px;
}

#book-image {
    width: 107px;
    height: 180px;
    border-radius: 15px;
}

#other-mp {
    width: 250px;
    height: 400px; /*
    border-radius: 15px;*/
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  width: 100%;
}
.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
